<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arnyminerz.escalaralcoiaicomtat"
    android:targetSandboxVersion="2"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Cannot be used by Instant Apps -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Cannot be used by Instant Apps -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:manageSpaceActivity=".activity.isolated.StorageActivity"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute,LockedOrientationActivity">
        <activity
            android:name=".activity.LoadingActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.isolated.FeedbackActivity"
            android:exported="true"></activity>
        <activity android:name=".activity.isolated.ServerDownActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.climb.AreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.climb.ZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.climb.SectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SectorInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.isolated.StorageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Intro" />
        <activity
            android:name=".activity.MapsActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="@string/sentry_dsn" />
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>